@model Faculty.Models.UserView
@{
    ViewBag.Title = "Edit";
}
<section>
    <h2 style="text-align: center">Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.Partial("FormPartial", Model)
        <input type="submit" value="Save" class="btn btn-success" style="background-color: blue" />
    }

</section>